:root { 
--green_300:#6ee66f; 
--gray_500:#acacac; 
--blue_gray_100:#d9d9d9; 
--orange_A200:#ff9141; 
--blue_gray_400:#7d8eae; 
--red_700:#de1f1f; 
--blue_800:#2d73b5; 
--gray_200:#e5e7eb; 
--black_900_3f:#0000003f; 
--amber_A100:#fce47d; 
--amber_A400:#ffcc00; 
--gray_100:#f5f7fa; 
--teal_100:#aae2e6; 
--blue_gray_200_66:#abbed166; 
--black_900:#000000; 
--blue_300:#56acde; 
--blue_gray_900_01:#263238; 
--blue_gray_900:#33363f; 
--white_A700:#ffffff; 
}